@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Roboto&family=Share+Tech+Mono&display=swap');

th{
  font-family: montserrat;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding-right: 20px
}
td{
  padding: 5px;
  font-family: Montserrat;
  border: 1px solid;
}
th:first-child{
  border-left: 1px solid;
  padding-left: 5px;
}
th:last-child{
  border-right: 1px solid;
  padding-right: 5px;
}
table{
  border-collapse:collapse;
}
#content{
  margin-left: 50px;
}

#head{
  margin-left: 50px;
}
