@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Roboto&family=Share+Tech+Mono&display=swap');

th{
  font-family: montserrat;
  width: 100px;
}
td{
  padding: 5px;
  font-family: montserrat;
}
#head{
  width: 50px
  padding
}
