@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Roboto&family=Share+Tech+Mono&display=swap');

th{
  font-family: montserrat;
  border: 1px solid;
  border-spacing: 0px
  padding-right: 10px
}
td{
  padding: 5px;
  font-family: montserrat;
  border: 1px solid;
}
