@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Roboto&family=Share+Tech+Mono&display=swap');

li{
    list-style: none;
    padding: 10px;
    margin-right: 60px;
    margin-top:50px;
    border: solid 1px black;
    background-color: 	#f6f7f9;
}
p{
    font-family: Catamaran;
}
b{
    font-family: Overpass;
    font-weight: 100;
    font-size: 25;
}

#status{
    float:right;
    font-size: 13px;
    padding-right: 15px;
    color: #022358;
}

html{
    background-color: 	#f8f7f8;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #141839;
    font-family: Montserrat;

}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    width: 1%;
    border-bottom: 1px solid grey;

}
.separator::before {
    margin-right: 25px;

}
.separator::after {
    margin-left: 25px;
}
